.headingContainer {
  height: 97px;
  width: 100%;
  background: #ec755d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 24px;
}

.headingContainer h1,
.headingContainer span {
  color: white;
}

.headingContainer span {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.myBalance {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (min-width: 575px) {
  .myBalance {
    gap: 8px;
  }

  .headingContainer span {
    font-size: 32px;
    line-height: 42px;
  }

  .headingContainer {
    padding-left: 32px;
    padding-right: 39px;
    height: 125px;
    border-radius: 20px;
  }
}
